body {
  font: 14px 'Century Gothic', Futura, sans-serif !important;
}

.square {
  background: #fff;
  border: 1px solid #999 !important;
  font-size: 5em !important;
  font-weight: 900 !important;
  padding: 50px !important;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square-focus {
  background: #ddd;
}

.game > div {
  padding: 25px 0;
}

.square:hover {
  cursor: pointer;
  background-color: #808080;
}